@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "A Note"; /* Provide a custom name for your font family */
  src: url("/fonts/a-note.woff2") format("woff2"),
    url("/fonts/a-note.woff") format("woff"),
    url("/fonts/a-note.ttf") format("truetype");
  font-display: swap;
}
/*! Common CSS Start Here !*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --theme-color: #9b3a8b;
  --primary-color: #272627;
  --white-color: #fff;
  --black-color: #000;
  --heading-color: #000;
  --header-font: 600 16px/50px Hind Vadodara, sans-serif;
  --footer-font: 400 12px/28px Figtree, sans-serif;
  --heading-font: 700 66.7px/70.34px Figtree, sans-serif;
  --sub-heading-font: 500 24px/30.7px Figtree, sans-serif;
  --body-font: 300 16px/25px Figtree, sans-serif;
  --btn-font: 400 16px/20.4px Figtree, sans-serif;
  --header-btn-font: 400 14px/86.4px Figtree, sans-serif;
  --banner-font: 700 66.5px/70.34px Figtree, sans-serif;
  --special-heading: A Note;
}
body {
  margin: 0;
  padding: 0;
  font: var(--body-font);
}
h1 {
  font: var(--banner-font) !important;
  color: var(--heading-color);
}
h2 {
  font: var(--heading-font) !important;
  color: var(--heading-color);
}
h3 {
  font: var(--sub-heading-font) !important;
  color: var(--heading-color);
}
a {
  color: var(--heading-color) !important;
  text-decoration: none !important;
  -webkit-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}
a:hover {
  color: var(--heading-color);
  text-decoration: none;
}
p {
  font: var(--body-font);
  color: var(--heading-color);
  font-weight: 400;
}
.special-heading {
  font-family: var(--special-heading);
  color: var(--heading-color);
  font-weight: 400;
  padding-inline: 0.8rem;
  position: relative;
  display: inline-block;
}
.special-heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7%;
  height: 8px;
  background-color: #ebd8e8;
  width: 100%;
}
button {
  -webkit-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
}
.main-btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color) !important;
  padding: 0.9rem 3rem;
  font: var(--btn-font);
  font-weight: normal;
  -webkit-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  transition: 0.3s ease-in-out !important;
  position: relative;
}
.main-btn:hover {
  background-color:  var(--theme-color);
  color: var(--white-color);
}
.main-btn:before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  position: absolute;
  right: 15%;
  top: 40%;
}
.no-arrow:before {
  content: unset;
}
.no-bg {
  background-color: unset !important;
}
.main-outline-btn {
  background-color: unset;
  border: 1px solid var(--primary-color);
  color: var(--white-color);
}
.main-outline-btn:hover {
  background-color: var(--theme-color);
  color: var(--white-color);
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999 !important;
  overflow: hidden;
  background: #fff;
  /* background: url("../images/loader.gif") 50% 50% no-repeat rgb(255, 255, 255); */
}
::-webkit-scrollbar {
  width: 0.35rem;
}
::-webkit-scrollbar-track {
  background: var(--theme-color);
}
::-webkit-scrollbar-thumb {
  background: var(--white-color);
}
::-moz-selection {
  /* Code for Firefox */
  color: var(--text-white);
  background: var(--theme-color);
}
::selection {
  color: var(--white-color);
  background: var(--theme-color);
}
.section-spacing {
  padding: 3rem 0 0;
}
.zoom-hover picture {
  position: relative;
  overflow: hidden;
  display: block;
}
.zoom-hover picture img {
  -webkit-transition: 1.5s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: 1.5s cubic-bezier(0, 0, 0.2, 1);
  transition: 1.5s cubic-bezier(0, 0, 0.2, 1);
}
.zoom-hover:hover picture img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
button {
  border: 0 !important;
  outline: 0;
  -webkit-box-shadow: unset;
  box-shadow: unset;
}
button:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.swiper-button-prev {
  height: 60px;
  width: 60px;
  display: block;
  z-index: 99999999;
}
 .swiper-button-prev:after {
   content:"" !important;
  background: url(/images/home/arrow-active.svg) no-repeat;
  font-size: 0;
  background-size: contain;
  display: block;
  height: 25px;
  width: 25px;
  filter: grayscale(100%);
}
 .swiper-button-next {
  height: 70px;
  width: 70px;
  display: block;
  z-index: 99999999;
}
.swiper-button-next:after {
  content:"" !important;
  background: url(/images/home/arrow-active.svg) no-repeat;
  font-size: 0;
  background-size: contain;
  display: block;
  height: 25px;
   width: 25px;
  transform: rotate(180deg);
  filter: grayscale(100%);
}
 .swiper-button-prev.swiper-button-disabled,
 .swiper-button-disabled.swiper-button-prev:after,
 .swiper-button-next.swiper-button-disabled,
.swiper-button-disabled.swiper-button-next:after {
  filter: unset;
  -webkit-filter: unset;
  opacity: unset;
}
 .swiper-pagination-bullet-active {
  background-color: var(--theme-color) !important;
}
/*! Common CSS End Here !*/
/*! Navigation CSS Start Here !*/
.nav-up {
  top: -140px;
}
header {
  position: fixed;
  -webkit-transition: top 0.6s ease-in-out;
  -o-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  width: 100%;
  z-index: 999999999;
}
.nav-up {
  top: -130px;
}
.nav-down {
  background: var(--white-color) !important;
  color: var(--black-color);
  top: 0;
  z-index: 999999999;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
#navigationbar .navbar .nav-link {
  color: var(--black-color);
  font: var(--header-font);
  transition: 0.3s ease-in-out !important;
  -webkit-transition: 0.3s ease-in-out !important;
  -moz-transition: 0.3s ease-in-out !important;
  -ms-transition: 0.3s ease-in-out !important;
  -o-transition: 0.3s ease-in-out !important;
  text-transform: uppercase;
  padding: 2rem 1rem 0;
}
#navigationbar .navbar .nav-link.active::after {
  content: "";
  display: block;
  border-bottom: 2px solid var(--theme-color);
}
#navigationbar .navbar .nav-link:hover {
  color: var(--theme-color);
}
.say-hello-btn {
  position: absolute;
  right: 20px;
  top: 0;
}
.navbar-nav {
  position: relative;
}
.say-hello-btn a {
  font: var(--btn-font);
  border: 1px solid var(--black-color);
  padding: 0.5rem 1rem;
  color: var(--black-color);
  text-decoration: none;
  z-index: 999999999;
}
.say-hello-btn a:hover {
  background-color: var(--theme-color);
  color: var(--white-color);
  border: 1px solid var(--theme-color);
}
#navigationbar .navbar > .container {
  align-items: start;
}
#navigationbar .navbar {
  padding-bottom: 0;
}
#navigationbar .navbar-expand-lg .navbar-nav {
  padding: 0.9rem 0 0;
}
.menuButton input {
  position: fixed;
  opacity: 0;
}
.menuButton input:focus + label .burger {
  opacity: 0.75;
}
.menuButton label {
  position: absolute;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  background: #fff;
  padding: 5px 10px;
}
.menuButton label span a img {
  float: right;
}
.menuButton label::before {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuButton label .burger {
  position: absolute;
  top: 2em;
  left: 2em;
  z-index: 3;
  width: 29px;
  height: 22px;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuButton label .burger::before,
.menuButton label .burger .bar,
.menuButton label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  content: "";
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuButton label .burger .bar {
  top: 44%;
}
.menuButton label .burger::before {
  top: 0;
  transform-origin: top left;
}
.menuButton label .burger::after {
  bottom: 0;
  transform-origin: bottom left;
}
.menuButton label .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.menuButton label:focus .burger {
  opacity: 0.75;
}
.menuButton .menuNav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  transform: translate3d(0, 0, 0);
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.menuButton .menuNav::before,
.menuButton .menuNav:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #fff;
  content: "";
  transform: skewX(15deg) translateX(-100%);
  transform-origin: bottom left;
  will-change: transform;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
@media (min-width: 40em) {
  .menuButton .menuNav::before,
  .menuButton .menuNav:after {
    width: 40em;
  }
}
.menuButton .menuNav::after {
  left: 45% !important;
  z-index: -2 !important;
  background: rgba(255, 255, 255, 0.5) !important;
  transform: skewX(20deg) translateX(-100%) !important;
}
.menuButton .menuNav li {
  display: flex;
  margin: 0.5em 0;
  transform: translateX(-100%);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.menuButton .menuNav li:nth-child(1) {
  transition-delay: 100ms;
}
.menuButton .menuNav li:nth-child(2) {
  transition-delay: 150ms;
}
.menuButton .menuNav li:nth-child(3) {
  transition-delay: 200ms;
}
.menuButton .menuNav li:nth-child(4) {
  transition-delay: 250ms;
}
.menuButton .menuNav li:nth-child(5) {
  transition-delay: 300ms;
}
.menuButton .menuNav li:nth-child(6) {
  transition-delay: 350ms;
}
.menuButton .menuNav li:nth-child(7) {
  transition-delay: 400ms;
}
.menuButton .menuNav li:nth-child(8) {
  transition-delay: 450ms;
}
.menuButton .menuNav li:nth-child(9) {
  transition-delay: 500ms;
}
.menuButton .menuNav li a {
  position: relative;
  left: 0;
  padding: 0.3em 2em;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: 0.25s;
}
.menuButton .menuNav li a:hover,
.menuButton .menuNav li a:focus {
  color: #1950ff;
  left: 15px;
}
main {
  overflow: hidden;
}
main .content {
  transform: translate3d(0, 0, 0);
  will-change: transform, filter;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
[id="navcheck"]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}
[id="navcheck"]:checked + label .burger::before,
[id="navcheck"]:checked + label .burger::after {
  width: 31px;
}
[id="navcheck"]:checked + label .burger::before {
  transform: rotate(45deg) translateY(-50%);
}
[id="navcheck"]:checked + label .burger::after {
  transform: rotate(-45deg) translateY(50%);
}
[id="navcheck"]:checked + label .burger .bar {
  transform: scale(0.1);
}
[id="navcheck"]:checked ~ .menuNav {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ .menuNav::before {
  transform: skewX(15deg) translateX(0);
  transition-delay: 0.1s;
}
[id="navcheck"]:checked ~ .menuNav:after {
  transform: skewX(20deg) translateX(0) !important;
  transition-delay: 0;
}
[id="navcheck"]:checked ~ .menuNav li {
  transform: translateX(0);
}
[id="navcheck"]:checked ~ main .content {
  transform: translateX(3em);
  transform-origin: left center;
  filter: blur(2px);
}
/*! Navigation CSS End Here !*/
@media (max-width: 1199.5px) {
  :root {
    --header-font: 600 12px/20.4px Hind Vadodara, sans-serif;
    --banner-font: 700 50.7px/52.34px Figtree, sans-serif;
  }
  #navigationbar .navbar-expand-lg .navbar-nav {
    padding: 1.5rem 0 1rem;
  }
}
@media (max-width: 999px) {
  /*! Common CSS Start Here !*/
  :root {
    --header-font: 600 14px/20.4px Hind Vadodara, sans-serif;
    --footer-font: 400 12px/28px Figtree, sans-serif;
    --heading-font: 600 50px/52px Rubik, sans-serif;
    --sub-heading-font: 500 20px/26px Rubik, sans-serif;
    --body-font: 400 15px/21px Lato, sans-serif;
    --btn-font: 400 16px/30px Rubik, sans-serif;
    --banner-font: 600 40.12px/50px Rubik, sans-serif;
    --body-font: 300 16px/25px Figtree, sans-serif;
    --header-btn-font: 400 14px/86.4px Figtree, sans-serif;
    --banner-font: 700 40.7px/45.34px Figtree, sans-serif;
  }
  .main-btn {
    color: var(--white-color) !important;
  }
  .section-spacing {
    padding: 3rem 0 0;
  }
  /*! Common CSS End Here !*/
  /* Navigation Bar CSS Start Here */
  .say-hello-btn {
    top: 0.8rem;
  }
  #navigationbar .navbar .nav-link {
    padding: 1rem 0.8rem 0;
  }
  .menuButton .menuNav li {
    margin-bottom: 0;
  }
  /* Navigation Bar CSS Start Here */
}
@media (max-width: 767px) {
  /* Navigation Bar CSS Start Here */
  .say-hello-btn {
    position: unset;
    padding: 2rem 1rem 1rem;
  }
  /* Navigation Bar CSS End Here */
}
