.say-hello-btn .active {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  color: var(--white-color) !important;
}
.contactus-content h2 {
  margin: 2rem 0;
}
.contactus-info h3 {
  display: inline;
  vertical-align: middle;
  padding-inline-start: 0.5rem;
  font-weight: 600 !important;
}
.contactus-content .contactus-info p {
  padding-inline-start: 2rem;
  padding-top: 0.3rem;
}
.contactus-info a {
  padding-inline-start: 0.5rem;
}
.contactus-info li {
  margin-bottom: 1rem;
}
.contactus-content .col-12 p {
  padding-inline: 0;
}
#contact-us {
  position: relative;
}
.contact-icon-object-one {
  position: absolute;
  left: 40%;
}
.contact-icon-object-two {
  position: absolute;
  bottom: 23%;
  left: 48%;
}
.contact-icon-object-three {
  position: absolute;
  bottom: 0;
  left: 15%;
}
.contactus-content {
  padding-bottom: 3rem;
}
.contactus-form {
  padding: 3rem;
}
.contactus-form label {
  display: block;
}
.contactus-form .form-group {
  padding-bottom: 1rem;
}
.contactus-form .form-control {
  border: 0;
  border-bottom: 1px solid var(--theme-color);
  border-radius: 0;
  padding-inline-start: 0;
}
.contactus-form .form-control:focus {
  outline: 0;
  box-shadow: unset;
}
.contactus-form .form-label span {
  color: #ff0000;
  padding-inline-start: 0.2rem;
  font-weight: 700 !important;
}
.contactus-form .form-group .error {
  color: #ff0000;
}
.contactus-form .main-btn {
  margin: 1rem 0;
}
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: var(--white-color);
  max-width: 35%;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.close-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 40px;
  cursor: pointer;
  color: var(--theme-color);
}
.modal-content h2 {
  font-weight: 700 !important;
  font: 700 45.05px/50px Figtree, sans-serif !important;
  padding: 2rem;
}
@media (max-width: 999px) {
  .contactus-form {
    padding: 1rem;
  }
  .contactus-content {
    padding-bottom: 1rem;
  }
}
